@use "../../styles/variables.scss" as variables;

.active {
    background-color: variables.$color-main;
    color: variables.$color-secondary;
}

.link {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 4px;
    
    &:hover {
        color: variables.$color-main;

        &.active {
            color: variables.$color-secondary;
        }
    }
}

.nav { 
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}

@include variables.small {
    .link {
        font-size: 2rem;
    }
}

@include variables.mid {
    .link {
        font-size: 2.5rem;
    }
}

@include variables.medium {
    .link {
        font-size: 3rem;
    }
}

@include variables.large {
    .link {
        font-size: 4rem;
        }
    }

@include variables.xlarge {
    .link {
        font-size: 5rem;
    }
}