@use "../styles/variables.scss" as variables;

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem;
}

.image {
    width: 25%;
    height: 25%;
}

.image2 {
    width: 25%;
    height: 25%;
}

.h2 {
    font-size: 2rem;
    text-align: center;
}

.p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

@include variables.xsmall {
    .image {
        display: none;
    }

    .container {
        margin: 2.5rem;
    }
}

@include variables.small {
    .h2 {
        font-size: 2.5rem;
    }

    .p {
        font-size: 1.8rem;
    }

}

@include variables.mid {
    .h2 {
        font-size: 3rem;
    }

    .p {
        font-size: 1.8rem;
    }
}

@include variables.medium {
    .h2 {
        font-size: 4rem;
    }

    .p {
        font-size: 2rem;
    }
}

@include variables.large {
    .h2 {
        font-size: 5rem;
    }

    .p {
        font-size: 2.5rem;
    }
}

@include variables.xlarge {
    .h2 {
        font-size: 6rem;
    }

    .p {
        font-size: 3rem;
    }
}
